@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Bold.woff2') format('woff2'),
        url('GreycliffCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Medium.woff2') format('woff2'),
        url('GreycliffCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Regular.woff2') format('woff2'),
        url('GreycliffCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Regular.woff2') format('woff2'),
        url('GreycliffCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Bold.woff2') format('woff2'),
        url('GreycliffCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Medium.woff2') format('woff2'),
        url('GreycliffCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Light.woff2') format('woff2'),
        url('GreycliffCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Light.woff2') format('woff2'),
        url('GreycliffCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Bold.woff2') format('woff2'),
        url('GreycliffCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

