/* ----------------------------------------------------------------------------------------------------------- Colors */

$white: #ffffff;
$LightBlue: #F0F7FF;
$LightBlueDarken: #e1e8ef;
$LightYellow: #FFF5CD;
$LightSuccess: #E4EEDE;
$LightInfo: #DFF0FF;
$LightWarning: #FFF0D9;
$LightError: #FFEEED;
$LightDisable: #D8D8D8;
$Grey800: #424242;
$Background: #F6F8FA;

$MainBlue: #07377E;
$MainBlueDarken: #0D418E;
$MainYellow: #FFCB05;
$MainYellowDarken: #ECBC04;
$Success: #048848;
$Info: #276EF1;
$Warning: #FFA012;
$Error: #E11900;
$Disable: #9E9E9E;
$Grey900: #212121;
$Disabled: #FBFBFB;
